<div id="bodyContainer">
    <div>
        <div class="navbar navbar-inner block-header">
            {{customer.Name}}
            Balance:
            <div class="pull-right">
                <a class="btn btn-primary" ng-href='/Invoice/Create/{{customer.Id}}' role="button"><i class="fa fa-plus"></i> New Invoice</a>
                <a class="btn btn-primary" ng-href='/Quotation/Create/{{customer.Id}}' role="button"><i class="fa fa-plus"></i> New Quotation</a>
            </div>
        </div>

        <ul class="nav nav-tabs" role="tablist" id="myTab">
            <li role="presentation"><a href="#sales" role="tab" data-toggle="tab">Transactions</a></li>
            <li role="presentation"><a href="#customer" role="tab" data-toggle="tab">Customer Info</a></li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="sales">
                <div class="row">
                    <div class="col-md-12">
                        <div id="transactiondiv">
                            <table class="table table-hover margin-top15">
                                <thead>
                                    <tr>
                                        <th>
                                            Order Number
                                        </th>
                                        <th>
                                            Order Date
                                        </th>

                                        <th>
                                            Total Amount
                                        </th>
                                        <th>
                                            Status
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>

                                <tr ng-repeat="invoice in transactions">
                                    <td>
                                        <a ng-href='/invocie/{{invoice.Id}}' ng-bind="invoice.OrderNumber"></a>
                                    </td>

                                    <td>
                                        {{invoice.OrderDate}}
                                    </td>
                                    <td>
                                        {{invoice.TotalWithTax}}
                                    </td>
                                    <td>
                                        {{invoice.Status}}
                                    </td>
                                    <td></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div role="tabpanel" class="tab-pane" id="customer">
                <div class="row margin-top30">
                    <div class="col-md-12">
                        <div class="detailview">
                            <div class="row">
                                <div class="display-label">
                                    Address
                                </div>
                                <div class="display-field">
                                    <address>
                                        {{customer.Address}}
                                    </address>
                                </div>
                            </div>
                            <div class="row">
                                <div class="display-label">
                                    Phone
                                </div>
                                <div class="display-field">
                                    {{customer.Phone}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="display-label">
                                    Fax
                                </div>
                                <div class="display-field">
                                    {{customer.Fax}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="display-label">
                                    Email
                                </div>
                                <div class="display-field">
                                    {{customer.Email}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="display-label">
                                    Contact Name
                                </div>
                                <div class="display-field">
                                    {{customer.ContactName}}
                                </div>
                            </div>

                            <div class="row">
                                <div class="display-label">
                                    GST
                                </div>
                                <div class="display-field">
                                    {{customer.GST.Rate}}
                                </div>
                            </div>
                        </div>
                        <div class="action-links">
                            <a class="button" ng-href='/Customer/Edit/{{customer.Id}}' title="Edit">Edit</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>