<div id="bodyContainer">
    <div>
        <div class="navbar navbar-inner block-header">
            Balance: {{ balance.balance | currency}}
            <div class="pull-right">
                <a class="btn btn-primary" ng-href='/Invoice/Create/{{customer.Id}}' role="button"><i class="fa fa-plus"></i> New Invoice</a>
                <a class="btn btn-primary" ng-href='/Quotation/Create/{{customer.Id}}' role="button"><i class="fa fa-plus"></i> New Quotation</a>
            </div>
        </div>

        <tabset>
            <tab heading="Transactions">
                <div class="row">
                    <div class="col-md-12">
                        <div id="transactiondiv">
                            <table class="table table-hover margin-top15">
                                <thead>
                                    <tr>
                                        <th>
                                            Order Number
                                        </th>
                                        <th>
                                            Order Date
                                        </th>
                                        <th>
                                            Remark
                                        </th>
                                        <th class="text-right">
                                            Total Amount
                                        </th>
                                        <th class="text-right">
                                            Outstanding Amount
                                        </th>
                                        <th>

                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>

                                <tr ng-repeat="invoice in transactions">
                                    <td>
                                        <a ng-href='/invoice/{{invoice.Id}}' ng-bind="invoice.OrderNumber"></a>
                                    </td>

                                    <td>
                                        {{invoice.OrderDate |date:'dd/MM/yyyy'}}
                                    </td>
                                    <td>
                                        {{invoice.Remark}}
                                    </td>
                                    <td class="text-right">
                                        {{invoice.TotalWithTax | currency}}
                                    </td>
                                    <td class="text-right">
                                        {{invoice.AmountOutstanding | currency}}
                                    </td>
                                    <td>
                                        <div order-status status="invoice.Status"></div>
                                    </td>
                                    <td>
                                        <!--@if (item.Status != (int)acct.common.POCO.Order.StatusOptions.Paid)
                            {-->
                                        <a ng-href='/invocie/edit/{{invoice.Id}}' title="Edit" ng-show='invoice.Status!=3'><i class="glyphicon glyphicon-pencil"></i></a>
                                        <!--}-->
                                        <div class="pull-right">
                                            <a ng-href='/invocie/print/{{invoice.Id}}' title="Print"><i class="fa fa-print"></i></a>
                                        </div>

                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </tab>
            <tab heading="Customer Details">
                <div class="row margin-top30">
                    <div class="col-md-12">
                        <div class="detailview">
                            <div class="row">
                                <div class="display-label">
                                    Address
                                </div>
                                <div class="display-field">
                                    <address>
                                        {{customer.Address}}
                                    </address>
                                </div>
                            </div>
                            <div class="row">
                                <div class="display-label">
                                    Phone
                                </div>
                                <div class="display-field">
                                    {{customer.Phone}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="display-label">
                                    Fax
                                </div>
                                <div class="display-field">
                                    {{customer.Fax}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="display-label">
                                    Email
                                </div>
                                <div class="display-field">
                                    {{customer.Email}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="display-label">
                                    Contact Name
                                </div>
                                <div class="display-field">
                                    {{customer.ContactName}}
                                </div>
                            </div>

                            <div class="row">
                                <div class="display-label">
                                    GST
                                </div>
                                <div class="display-field">
                                    {{customer.GST.Rate}}
                                </div>
                            </div>
                        </div>
                        <div class="action-links">
                            <a class="button" ng-href='/customer/edit/{{customer.Id}}'>Edit</a>
                        </div>
                    </div>
                </div>
            </tab>
        </tabset>

        
    </div>
</div>