<div id="bodyContainer">
    <div>
        <div class="navbar navbar-inner block-header">
            Balance: {{ balance.balance | currency}}
            <div class="pull-right">
                <a class="btn btn-primary" ng-href='/Invoice/Create/{{customer.Id}}' role="button"><i class="fa fa-plus"></i> New Invoice</a>
                <a class="btn btn-primary" ng-href='/Quotation/Create/{{customer.Id}}' role="button"><i class="fa fa-plus"></i> New Quotation</a>
            </div>
        </div>

        <tabset>
            <tab heading="Transactions">
                <div class="row">
                    <div class="col-md-12">
                        <div id="transactiondiv">
                            <div order-list orders="transactions" skip-customer="true"></div>
                        </div>
                    </div>
                </div>
            </tab>
            <tab heading="Customer Details">
                <div class="row margin-top30">
                    <div class="col-md-12">
                        <div class="detailview">
                            <div class="row">
                                <div class="display-label">
                                    Address
                                </div>
                                <div class="display-field">
                                    <address>
                                        {{customer.Address}}
                                    </address>
                                </div>
                            </div>
                            <div class="row">
                                <div class="display-label">
                                    Phone
                                </div>
                                <div class="display-field">
                                    {{customer.Phone}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="display-label">
                                    Fax
                                </div>
                                <div class="display-field">
                                    {{customer.Fax}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="display-label">
                                    Email
                                </div>
                                <div class="display-field">
                                    {{customer.Email}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="display-label">
                                    Contact Name
                                </div>
                                <div class="display-field">
                                    {{customer.ContactName}}
                                </div>
                            </div>

                            <div class="row">
                                <div class="display-label">
                                    GST
                                </div>
                                <div class="display-field">
                                    {{customer.GST.Rate}}
                                </div>
                            </div>
                        </div>
                        <div class="action-links">
                            <a class="button" ng-href='/customer/edit/{{customer.Id}}'>Edit</a>
                        </div>
                    </div>
                </div>
            </tab>
        </tabset>
    </div>
</div>