<div class="input-group">

    <input type="text" ng-model="asyncSelected" 
           placeholder="Search..." 
           typeahead="customer.value for customer in lookup($viewValue)" 
           typeahead-loading="loadingLocations" 
           typeahead-no-results="noResults" 
           typeahead-min-length="2"
           class="form-control">
    <div class="input-group-btn">
        <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
    </div>
    <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
    <div ng-show="noResults">
        <i class="glyphicon glyphicon-remove"></i> No Results Found
    </div>
</div>
<div class="navbar navbar-inner block-header margin-top30">
    <div class="pull-right">
        <a class="btn btn-primary" ng-href='/customer/create' role="button"><i class="fa fa-plus"></i> New</a>
    </div>
</div>
<div id="bodyContainer">
    <div >
        <table class="table table-hover margin-top15">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Phone
                    </th>

                    <th>
                        ContactName
                    </th>
                    <th></th>
                </tr>
            </thead>

            <tr ng-repeat="customer in customers" ng-cloak>
                <td>
                    <a ng-href='/customer/{{customer.Id}}' ng-bind="customer.Name"></a>
                </td>

                <td>
                    {{customer.Phone}}
                </td>

                <td>
                    {{customer.ContactName}}
                </td>
                <td>

                    <a ng-href='/customer/edit/{{customer.Id}}' title="Edit"><i class="glyphicon glyphicon-pencil"></i></a>
                    <!--@*<a href='#' id='@item.Id' data-url="Customer" hreflang="delete_href">Delete</a>*@-->
                </td>
            </tr>

        </table>
        <!--<pagination boundary-links="true" total-items="TotalCustomers" 
                    items-per-page="PageSize"  
                    ng-model="CurrentPageNumber" class="pagination-sm" 
                    previous-text="Prev" next-text="Next" first-text="First" last-text="Last"></pagination>-->
        
        <pagination total-items="totalItems"
                    ng-model="currentPage"
                    max-size="maxSize" class="pagination-md" boundary-links="true"
                    rotate="false" num-pages="numPages" items-per-page="pageSize" ng-change="pageChanged()"></pagination>

        <pre>Page: {{currentPage}} / {{numPages}} Total:{{totalItems}}</pre>
    </div>
</div>
        