<div class="navbar navbar-inner block-header margin-top30">
    <div class="pull-right">
        <a class="btn btn-primary" ng-href='/Customer/Create' role="button"><i class="fa fa-plus"></i> New</a>
    </div>
</div>
<div id="bodyContainer">
    <div >
        <table class="table table-hover margin-top15">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Phone
                    </th>

                    <th>
                        ContactName
                    </th>
                    <th></th>
                </tr>
            </thead>

            <tr ng-repeat="customer in customers" ng-cloak>
                <td>
                    <a ng-href='/customer/{{customer.Id}}' ng-bind="customer.Name"></a>
                </td>

                <td>
                    {{customer.Phone}}
                </td>

                <td>
                    {{customer.ContactName}}
                </td>
                <td>

                    <a ng-href='/customer/edit/{{customer.Id}}' title="Edit"><i class="glyphicon glyphicon-pencil"></i></a>
                    <!--@*<a href='#' id='@item.Id' data-url="Customer" hreflang="delete_href">Delete</a>*@-->
                </td>
            </tr>

        </table>
    </div>
</div>