<table class="table table-hover margin-top30">
    <thead>
        <tr>
            <th>
                Description
            </th>
            <th>
                Qty
            </th>
            <th>
                Unit Price
            </th>
            <th>
                Discount
            </th>
            <th>
                Line Total
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tr id='row{{line.Id}}' data-id="{{line.Id}}" ng-repeat="line in lines" ng-cloak>
        <td><div class="editor-long"><input class="form-control" type="text"  data-id="{{line.Id}}" ng-model="line.Description" /></div></td>
        <td><div class="editor-numeric-short calc"><input class="form-control" type="text"  data-id="{{line.Id}}" ng-model="line.Qty" /></div></td>
        <td><div class="editor-numeric calc"><input class="form-control" type="text" data-id="{{line.Id}}" ng-model="line.UnitPrice" /></div></td>
        <td><div class="editor-numeric-short calc"><input class="form-control" type="text" data-id="{{line.Id}}" ng-model=" line.Discount" /></div></td>
        <td class="text-right"><div class="editor-numeric"><span name="OrderDetails[{{line.Id}}].Amount" data-id="line.Id">{{calcTotal(line.Qty,line.UnitPrice,line.Discount)}}</span></div></td>

        <td>
            <a href='#' title="Delete" ng-click="removeRow($index)"><i class="glyphicon glyphicon-trash"></i></a>
        </td>
    </tr>
    
    <!--<tfoot>
        <tr data-counter="{{i}}" ng-repeat="i in [0,1]">
            <td><div class="editor-long"><input class="form-control" type="text" name="OrderDetail[{{i}}].Description" ng-model="line.Description"/></div></td>
            <td><div class="editor-numeric-short calc"><input class="form-control text-right" type="text" name="OrderDetail[{{i}}].Qty" ng-model="line.Qty" ng-init="line.Qty='0'"/></div></td>
            <td><div class="editor-numeric calc"><input class="form-control" type="text" name="OrderDetail[{{i}}].UnitPrice" ng-model="line.UnitPrice"  ng-init="line.UnitPrice='0'"/></div></td>
            <td><div class="editor-numeric-short calc"><input class="form-control" type="text" name="OrderDetail[{{i}}].Discount" value="0" ng-model=" line.Discount" ng-init="line.Discount='0'"/></div></td>
            <td class="text-right"><div class="editor-numeric"><span name="OrderDetail[{{i}}].Amount">{{line.Qty * line.UnitPrice}}</span></div></td>
            <td></td>
        </tr>
    </tfoot>-->
</table>
<div class="text-right">
    <h4>Total: {{getTotal() | currency}}</h4>
</div>
<a href="#" title="Add more" id="add" ng-click="addRow()"> <i class="glyphicon glyphicon-plus"></i>  </a>