<div class="row form-group">
    <div class="display-label col-md-2">
       Customer
    </div>
    <div class="display-field col-md-6">
        <a ng-href='/customer/{{order.CustomerId}}' ng-bind="order.Customer.Name"></a>
    </div>

    <div class="display-label col-md-2">
        Date
    </div>
    <div class="display-field col-md-2">
        {{order.OrderDate |date:'dd/MM/yyyy'}}
    </div>
</div>
<div class="row form-group">
    <div class="display-label col-md-2">
        Salesman 
    </div>
    <div class="display-field col-md-6">
        {{order.Salesman.Name}}
    </div>
    <div class="display-label col-md-2">
        GST
    </div>
    <div class="display-field col-md-2">
        {{order.GSTRate}}%
    </div>
</div>
<div class="row form-group">
    <div class="display-label col-md-2">
        Remark
    </div>
    <div class="display-field col-md-6">
        {{order.Remark}}
    </div>
</div>

<div order-lines lines="order.OrderDetail"></div>

<div class="text-right">
    <h3>Total: {{order.TotalWithTax | currency}}</h3>
</div>


