<div class="navbar navbar-inner block-header">
    <div class="pull-left">
        <form class="form-inline">
            <div class="form-group">
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                        
                        <span>
                            {{dateRangeEnum[dateRangeParm]}}
                        </span>
                        
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                        <li role="presentation" ng-repeat="(key, value) in dateRangeEnum" ng-cloak>
                            <a role="menuitem" tabindex="-1"
                               href='/invoice?dateRange={{key}}&status={{statusParm}}'>
                                {{value}}
                                <span ng-if="key == dateRangeParm">
                                    <i class="fa fa-check"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <!--<div date-ranage orders="transactions"></div>-->
                </div>
            </div>
            <div class="form-group">
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                        <span>
                            {{statusParm}}
                        </span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                        <li role="presentation" ng-repeat="(key, value) in statusEnum" ng-cloak>
                            <a role="menuitem" tabindex="-1"
                               href='/invoice?dateRange={{dateRangeParm}}&status={{key}}'>
                                {{key}}
                                <span ng-if="key == dateRangeParm">
                                    <i class="fa fa-check"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </form>
    </div>
    <div class="pull-right">
        <a class="btn btn-primary" ng-href='/invoice/create' role="button"><i class="fa fa-plus"></i> New</a>
    </div>
</div>

<div order-list orders="invoices"></div>

<pagination total-items="totalItems"
            ng-model="currentPage"
            max-size="maxSize" class="pagination-md" boundary-links="true"
            rotate="false" num-pages="numPages" items-per-page="pageSize" ng-change="pageChanged()"></pagination>

<pre>Page: {{currentPage}} / {{numPages}} Total:{{totalItems}}</pre>